.body-wraper{
    margin : 20px;
    background: #f80b0b;
    display: flex;
    flex-direction: column;
}

.topbar{
    display: flex;
    flex-direction: row;
    margin-bottom : 30px;
    flex-grow: 100;
    background: #36eb5d;
    flex-wrap: wrap;
    min-height: 60px;
    max-height : 10%;

    align-items: center;
    justify-content: center;
}
.topbar-logo-container{
    flex-grow: 100;
    max-width: 200px;
    background: #e3338b
}
.topbar-logo{
    height : 100%;
}
.topbar-title-container{
    flex-grow: 100;
    background: #fa96c8;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
}
.topbar-cart-logo-container{
    flex-grow: 100;
    max-width: 100px;
    background: #e3338b
}
.main-container{
    display: flex;
    /* margin : 50px; */
    height : 70%;
    overflow: scroll;
    flex-grow: 100;
    background: #073e13;
}
.product-list {
    flex-grow: 1;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product-item{
    flex-grow : 1;
    max-width : 500px;
    min-width : 400px;
    min-height: 300px;
    margin: 5px;
    background: #fa96c8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-image-container-in-listing{
    flex-grow : 4;
}
.product-title-n-price-container-in-listing{
    flex-grow : 2;

    display: flex;
    flex-direction: row;
}
.product-title-in-listing-in-listing{

    flex-grow : 4;
}
.quantity-container-in-listing{
    flex-grow : 8;
    min-width : 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-number{
    min-width: 10px;
    width: 40%; 
}
.product-price-in-listing-in-listing{
    flex-grow : 4;
}
.product-action-in-listing{
    flex-grow : 4;
    width: 100%;
    align-items: center;
    justify-content: center;

    display: flex;
}
.product-action-add_to_cart-in-listing{
    flex-flow: 1;
    width: 100px;

}
.product-action-buy-in-listing{
    flex-flow: 1;
    width: 100px;
}

.footer-bar{
    min-height: 60px;
    max-height : 10%;
    margin-top : 30px;
    flex-grow: 100;
    background: #1a1ad1;
}



.cart-product-list{
    flex-grow: 1;
    background: #36eb5d;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.cart-item{
    flex-grow : 1;
    width : 90%;
    min-width : 400px;
    height: 100%;
    min-height: 100px;
    margin: 10px;
    background: #fa96c8;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.order-image-container-in-cart{
    flex-grow : 0.5;
    height: 100%;
    padding: 5px;
}
.product-image-cart{
    height: 100%;
}
.order-item-detail-in-cart{
    flex-grow : 2;
}
.order-item-total-price{
    flex-grow : 1;
}
.order-item-action{
    flex-grow : 1;
}